In [1]:
# Standard library imports
import os
import glob
from datetime import datetime, date
from dateutil import parser

# Third-party imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# 1. Samsung

In [2]:
def excel_to_dataframe(excel_path):
    df1 = pd.read_excel(excel_path, sheet_name = 'Monthly', usecols = 'A', names=['device'],header=None)
    df1['support_type'] = 'Monthly'
    df1['date'] = datetime.strptime(os.path.splitext(os.path.basename(excel_path))[0],'%Y%m%d%H%M%S')

    df2 = pd.read_excel(excel_path, sheet_name = 'Quarterly', usecols = 'A', names=['device'],header=None)
    df2['support_type'] = 'Quarterly'
    df2['date'] = datetime.strptime(os.path.splitext(os.path.basename(excel_path))[0],'%Y%m%d%H%M%S')

    try:
        df3 = pd.read_excel(excel_path, sheet_name = 'Other', usecols = 'A', names=['device'],header=None)
        df3['support_type'] = 'Biannually'
        df3['date'] = datetime.strptime(os.path.splitext(os.path.basename(excel_path))[0],'%Y%m%d%H%M%S')
    except ValueError:
        try: 
            df3 = pd.read_excel(excel_path, sheet_name = 'Biannual', usecols = 'A', names=['device'],header=None)
            df3['support_type'] = 'Biannually'
            df3['date'] = datetime.strptime(os.path.splitext(os.path.basename(excel_path))[0],'%Y%m%d%H%M%S')
        except ValueError:
            df3 = pd.DataFrame([])
        
    try:
        df4 = pd.read_excel(excel_path, sheet_name = 'Wearable', usecols = 'A', names=['device'],header=None)
        df4['support_type'] = 'Wearable'
        df4['date'] = datetime.strptime(os.path.splitext(os.path.basename(excel_path))[0],'%Y%m%d%H%M%S')
    except ValueError:
        df4 = pd.DataFrame([])

    df = pd.concat([df1,df2,df3,df4])
    return df


def get_support_timeline(device,dataset):

    df = dataset
    
    #print('Getting support timeline for {}!'.format(device))
    
    df_device = df[df.device == device].sort_values(by='date')
    
    try:
        monthly_start = df_device[df_device.support_type == 'Monthly'].iloc[0]['date']
        monthly_end = df_device[df_device.support_type == 'Monthly'].iloc[-1]['date']
    except IndexError:
        monthly_start = None
        monthly_end = None
        
    try: 
        quarterly_start = df_device[df_device.support_type == 'Quarterly'].iloc[0]['date']
        quarterly_end = df_device[df_device.support_type == 'Quarterly'].iloc[-1]['date']
    except IndexError:
        quarterly_start = None
        quarterly_end = None
        
    try:
        biannually_start = df_device[df_device.support_type == 'Biannually'].iloc[0]['date']
        biannually_end = df_device[df_device.support_type == 'Biannually'].iloc[-1]['date']
    except IndexError:
        biannually_start = None
        biannually_end = None
    
    try:
        wearable_start = df_device[df_device.support_type == 'Wearable'].iloc[0]['date']
        wearable_end = df_device[df_device.support_type == 'Wearable'].iloc[-1]['date']
    except IndexError:
        wearable_start = None
        wearable_end = None
    result = [monthly_start,monthly_end,quarterly_start,quarterly_end,biannually_start,biannually_end,wearable_start,wearable_end]
    
    return result

In [3]:
dir_path = '../Data/Samsung/samsung-support-lists/'

print('Getting lists from {}'.format(dir_path))

excel_files = glob.glob(dir_path + '*.xlsx')
df_final_samsung = pd.DataFrame([])
for file in excel_files[:]:
    df_new = excel_to_dataframe(file)
    df_final_samsung = pd.concat([df_final_samsung,df_new],ignore_index=True)

df_final_samsung.to_csv('../Data/Samsung/support_lists.csv',index=False)

print('Converting excel files to DataFrame is done!')

df_timelines_samsung = pd.DataFrame()
for device in df_final_samsung['device'].unique():
    
    support_timeline = get_support_timeline(device,df_final_samsung)
    
    df_new = pd.DataFrame({"device": device, 
                           "monthly_start": support_timeline[0],
                           "monthly_end": support_timeline[1],
                           "quarterly_start": support_timeline[2],
                           "quarterly_end": support_timeline[3],
                           "biannually_start": support_timeline[4],
                           "biannually_end": support_timeline[5],
                           "wearable_start": support_timeline[6],
                           "wearable_end": support_timeline[7]},
                          index=[0])
 
    
    df_timelines_samsung = pd.concat([df_timelines_samsung,df_new],ignore_index=True)

df_timelines_samsung.to_csv('../Data/Samsung/timelines_samsung_devices_v1.csv',index=False)

df_timelines_samsung.head()

Getting lists from ../Data/Samsung/samsung-support-lists/
Converting excel files to DataFrame is done!

,device,monthly_start,monthly_end,quarterly_start,quarterly_end,biannually_start,biannually_end,wearable_start,wearable_end
0,Galaxy Fold,2019-10-08 22:18:41,2022-11-04 17:25:38,2022-11-08 08:46:24,2023-04-04 00:30:35,NaT,NaT,NaT,NaT
1,Galaxy Z Flip,2020-03-03 11:31:08,2023-04-04 00:30:35,None,None,NaT,NaT,NaT,NaT
2,Galaxy S8,2017-10-03 06:11:44,2020-05-03 21:44:01,2020-05-25 22:54:03,2020-12-10 23:59:35,NaT,NaT,NaT,NaT
3,Galaxy S8+,2017-10-03 06:11:44,2020-05-03 21:44:01,2020-05-25 22:54:03,2020-12-10 23:59:35,NaT,NaT,NaT,NaT
4,Galaxy S8 Active,2017-10-03 06:11:44,2020-08-06 10:02:12,2020-09-14 17:19:27,2020-12-10 23:59:35,NaT,NaT,NaT,NaT

## Samsung Support List Stats

In [4]:
print('First snapshot: {}'.format(df_final_samsung['date'].min()))
print('Last snapshot: {}'.format(df_final_samsung['date'].max()))
print('All snapshots: {}'.format(len(df_final_samsung['date'].unique())))
print('Last snapshot: {}'.format(df_final_samsung['date'].max()))
print('Avg snapshot: {}'.format((df_final_samsung['date'].max()-df_final_samsung['date'].min()).days/len(df_final_samsung['date'].unique())))
print('Unique Devices (Total): {}'.format(len(df_timelines_samsung.index)))
print('Unique Devices (Last list): {}'.format(len(df_final_samsung[df_final_samsung['date'] == df_final_samsung['date'].max()])))

First snapshot: 2017-10-03 06:11:44
Last snapshot: 2023-04-04 00:30:35
All snapshots: 312
Last snapshot: 2023-04-04 00:30:35
Avg snapshot: 6.435897435897436
Unique Devices (Total): 257
Unique Devices (Last list): 158

### Filtering the incomplete periods

Removing first and last snaphot from the beginning and end of the period because:
- as devices in the last snapshot are likely to continue to receive security updates, their end date cannot be marked yet.
- similarly, when the support lists started to be published, the devices given in the first published support list were probably getting the support before that date, and the start of their support period cannot be marked as we have no earlier data than the first snapshot.

In [5]:
df = pd.read_csv('../Data/Samsung/timelines_samsung_devices_v1.csv')

date_first_list = '2017-10-03 06:11:44' # remove the first because maybe the device was already receving before
date_last_list = '2023-04-04 00:30:35' # remove the last because maybe the device will continue to receive 
date_nat = pd.Timestamp('NaT').to_pydatetime()

for column in df.columns:
    df.at[(df[column] == date_first_list) | (df[column] == date_last_list), column] = date_nat
    
df.to_csv('../Data/Samsung/timelines_samsung_devices_v2.csv',index=False)

df.head()

,device,monthly_start,monthly_end,quarterly_start,quarterly_end,biannually_start,biannually_end,wearable_start,wearable_end
0,Galaxy Fold,2019-10-08 22:18:41,2022-11-04 17:25:38,2022-11-08 08:46:24,NaT,NaN,NaN,NaN,NaN
1,Galaxy Z Flip,2020-03-03 11:31:08,NaT,NaN,NaN,NaN,NaN,NaN,NaN
2,Galaxy S8,NaT,2020-05-03 21:44:01,2020-05-25 22:54:03,2020-12-10 23:59:35,NaN,NaN,NaN,NaN
3,Galaxy S8+,NaT,2020-05-03 21:44:01,2020-05-25 22:54:03,2020-12-10 23:59:35,NaN,NaN,NaN,NaN
4,Galaxy S8 Active,NaT,2020-08-06 10:02:12,2020-09-14 17:19:27,2020-12-10 23:59:35,NaN,NaN,NaN,NaN

## Calculating average durations in the support lists

- Also filter out if only one time appeared in the list since duration can not be calculated with a single date

In [6]:
df_timelines = pd.read_csv('../Data/Samsung/timelines_samsung_devices_v2.csv')
    
df_timelines[['monthly_start','monthly_end','quarterly_start','quarterly_end','biannually_start','biannually_end']] = df_timelines[['monthly_start','monthly_end','quarterly_start','quarterly_end','biannually_start','biannually_end']].apply(pd.to_datetime)
df_timelines['monthly_duration'] = df_timelines['monthly_end']-df_timelines['monthly_start']
df_timelines['quarterly_duration'] = df_timelines['quarterly_end']-df_timelines['quarterly_start']
df_timelines['biannually_duration'] = df_timelines['biannually_end']-df_timelines['biannually_start']

df_timelines.to_csv('../Data/Samsung/timelines_samsung_devices_v3.csv',index=False)

cond1 = ~(df_timelines['monthly_duration'].dt.days==0) #filter out if only one time appeared in the list
cond2 = ~df_timelines['monthly_duration'].isnull() #filter out as no monthly duration can be calculated

df_timelines_monthly = df_timelines[cond1&cond2].reset_index(drop=True)

cond3 = ~(df_timelines['quarterly_duration'].dt.days==0) #filter out if only one time appeared in the list
cond4 = ~df_timelines['quarterly_duration'].isnull() #filter out as no monthly duration can be calculated

df_timelines_quarterly = df_timelines[cond3&cond4].reset_index(drop=True)


cond5 = ~(df_timelines['biannually_duration'].dt.days==0) #filter out if only one time appeared in the list
cond6 = ~df_timelines['biannually_duration'].isnull() #filter out as no monthly duration can be calculated

df_timelines_biannual = df_timelines[cond5&cond6].reset_index(drop=True)


print("Avg monthly support duration: {}".format(df_timelines_monthly['monthly_duration'].mean(skipna=True)))
print('Monthly completed periods for: {} devices'.format(len(df_timelines_monthly['device'].unique())))

print("Avg quarterly support duration: {}".format(df_timelines_quarterly['quarterly_duration'].mean(skipna=True)))
print('Quarterly completed periods for: {} devices'.format(len(df_timelines_quarterly['device'].unique())))

print("Avg binannually support duration: {}".format(df_timelines_biannual['biannually_duration'].mean(skipna=True)))
print('Biannually completed periods for: {} devices'.format(len(df_timelines_biannual['device'].unique())))

Avg monthly support duration: 1017 days 22:24:10.500000
Monthly completed periods for: 20 devices
Avg quarterly support duration: 493 days 18:35:53.678899080
Quarterly completed periods for: 109 devices
Avg binannually support duration: 519 days 01:23:47.617021280
Biannually completed periods for: 47 devices

## Tablets-only

- Noticed that no tablets is given in monthly support list

In [7]:
df_timelines_tablets = df_timelines[df_timelines['device'].str.contains('Tab')]

df_timelines_tablets.head()

,device,monthly_start,monthly_end,quarterly_start,quarterly_end,biannually_start,biannually_end,wearable_start,wearable_end,monthly_duration,quarterly_duration,biannually_duration
77,Galaxy Tab A 10.5 (2018),NaT,NaT,2019-05-20 07:22:25,2020-08-06 10:02:12,2020-09-14 17:19:27,2022-09-06 03:13:18,NaN,NaN,NaT,444 days 02:39:47,721 days 09:53:51
78,Galaxy Tab A 10.1 (2019),NaT,NaT,2019-04-05 15:35:10,2020-12-10 23:59:35,2022-01-05 00:27:42,NaT,NaN,NaN,NaT,615 days 08:24:25,NaT
79,Galaxy Tab A 8 (2019),NaT,NaT,2019-10-08 22:18:41,2020-12-10 23:59:35,2022-01-05 00:27:42,NaT,NaN,NaN,NaT,429 days 01:40:54,NaT
80,Galaxy Tab A 8 Plus (2019),NaT,NaT,2019-05-20 07:22:25,2020-12-10 23:59:35,NaT,NaT,NaN,NaN,NaT,570 days 16:37:10,NaT
81,Galaxy Tab Active2,NaT,NaT,2018-03-08 21:26:30,2020-12-10 23:59:35,NaT,NaT,NaN,NaN,NaT,1008 days 02:33:05,NaT

# 2. Xiaomi

## Xiaomi Support Lists

In [8]:
def excel_to_dataframe(excel_path):
    df1 = pd.read_excel(excel_path, sheet_name = 'Monthly', usecols = 'A', names=['phone_model'],header=None)
    df1['support'] = 'Monthly'
    df1['date'] = datetime.strptime(os.path.splitext(os.path.basename(excel_path))[0],'%Y%m%d%H%M%S')

    df2 = pd.read_excel(excel_path, sheet_name = 'Quarterly', usecols = 'A', names=['phone_model'],header=None)
    df2['support'] = 'Quarterly'
    df2['date'] = datetime.strptime(os.path.splitext(os.path.basename(excel_path))[0],'%Y%m%d%H%M%S')

    try:
        df3 = pd.read_excel(excel_path, sheet_name = 'Other', usecols = 'A', names=['phone_model'],header=None)
        df3['support'] = 'Biannually'
        df3['date'] = datetime.strptime(os.path.splitext(os.path.basename(excel_path))[0],'%Y%m%d%H%M%S')
    except ValueError:
        try: 
            df3 = pd.read_excel(excel_path, sheet_name = 'Biannual', usecols = 'A', names=['phone_model'],header=None)
            df3['support'] = 'Biannually'
            df3['date'] = datetime.strptime(os.path.splitext(os.path.basename(excel_path))[0],'%Y%m%d%H%M%S')
        except ValueError:
            df3 = pd.DataFrame([])
            
    try:
        df4 = pd.read_excel(excel_path, sheet_name = 'Wearable', usecols = 'A', names=['phone_model'],header=None)
        df4['support'] = 'Wearable'
        df4['date'] = datetime.strptime(os.path.splitext(os.path.basename(excel_path))[0],'%Y%m%d%H%M%S')
    except ValueError:
        df4 = pd.DataFrame([])

    df = pd.concat([df1,df2,df3,df4])
    return df


def get_support_timeline(phone,dataset):

    df = dataset
    
    #print('Getting support timeline for {}!'.format(phone))
    
    df_phone = df[df.phone_model == phone].sort_values(by='date')
    
    try:
        monthly_start = df_phone[df_phone.support == 'Monthly'].iloc[0]['date']
        monthly_end = df_phone[df_phone.support == 'Monthly'].iloc[-1]['date']
    except IndexError:
        monthly_start = None
        monthly_end = None
        
    try: 
        quarterly_start = df_phone[df_phone.support == 'Quarterly'].iloc[0]['date']
        quarterly_end = df_phone[df_phone.support == 'Quarterly'].iloc[-1]['date']
    except IndexError:
        quarterly_start = None
        quarterly_end = None
        
    try:
        biannually_start = df_phone[df_phone.support == 'Biannually'].iloc[0]['date']
        biannually_end = df_phone[df_phone.support == 'Biannually'].iloc[-1]['date']
    except IndexError:
        biannually_start = None
        biannually_end = None
    
    try:
        wearable_start = df_phone[df_phone.support == 'Wearable'].iloc[0]['date']
        wearable_end = df_phone[df_phone.support == 'Wearable'].iloc[-1]['date']
    except IndexError:
        wearable_start = None
        wearable_end = None
    result = [monthly_start,monthly_end,quarterly_start,quarterly_end,biannually_start,biannually_end,wearable_start,wearable_end]
    
    return result

dir_path = '../Data/Xiaomi/Xiaomi-device-support-lists/'

print('Getting lists from {}'.format(dir_path))

excel_files = glob.glob(dir_path + '*.xlsx')
df_final_xiaomi = pd.DataFrame([])
for file in excel_files[:]:
    df_new = excel_to_dataframe(file)
    df_final_xiaomi = pd.concat([df_final_xiaomi,df_new],ignore_index=True)

print('Converting excel files to DataFrame is done!')

df_timelines_xiaomi = pd.DataFrame([])
for phone in df_final_xiaomi['phone_model'].unique():
    
    support_timeline = get_support_timeline(phone,df_final_xiaomi)
    
    df_new = pd.DataFrame({"phone": phone, 
                           "monthly_start": support_timeline[0],
                           "monthly_end": support_timeline[1],
                           "quarterly_start": support_timeline[2],
                           "quarterly_end": support_timeline[3],
                           "biannually_start": support_timeline[4],
                           "biannually_end": support_timeline[5],
                           "wearable_start": support_timeline[6],
                           "wearable_end": support_timeline[7]},
                          index=[0])
 
    
    df_timelines_xiaomi = pd.concat([df_timelines_xiaomi,df_new],ignore_index=True)
    
df_timelines_xiaomi.to_csv('../Data/Xiaomi/timelines_Xiaomi.csv',index=False)

df_timelines_xiaomi.head()

Getting lists from ../Data/Xiaomi/Xiaomi-device-support-lists/
Converting excel files to DataFrame is done!

,phone,monthly_start,monthly_end,quarterly_start,quarterly_end,biannually_start,biannually_end,wearable_start,wearable_end
0,Mi A3,2021-01-27 17:45:16,2022-10-31 17:52:22,2021-01-27 17:45:16,2022-10-31 17:52:22,None,None,None,None
1,Mi A2,2021-01-27 17:45:16,2022-10-31 17:52:22,None,None,None,None,None,None
2,Mi A2 Lite,2021-01-27 17:45:16,2022-10-31 17:52:22,None,None,None,None,None,None
3,Mi 10T Pro,None,None,2021-01-27 17:45:16,2022-10-31 17:52:22,None,None,None,None
4,Mi 10 T,None,None,2021-01-27 17:45:16,2022-10-31 17:52:22,None,None,None,None

## Xiaomi EOL lists

In [9]:
# Folder path
folder_path = '../Data/Xiaomi/xiaomi_archieve_data_eol/'

# Initialize empty DataFrame
df_xiaomi_eol = pd.DataFrame(columns=['Date', 'Brand', 'Source URL'])

# Go through each file in the folder
for filename in os.listdir(folder_path):
    if filename.endswith('.xlsx'):
        # Get timestamp from the filename
        timestamp = filename.split('.')[0]
        date = datetime.strptime(timestamp, '%Y%m%d%H%M%S').date() 

        # Read excel file
        excel_data = pd.read_excel(os.path.join(folder_path, filename))

        # Check if dataframe is empty
        if not excel_data.empty:
            # Source URL is the first element of 'Source URL' column
            source_url = excel_data['Source URL'].iloc[0]
            
            my_list = list(set(excel_data['Mi'].to_list()+excel_data['Redmi'].to_list()+excel_data['POCO'].to_list()))

            cleanedList = [x for x in my_list if str(x) != 'nan']

            # Create a temporary DataFrame from cleanedList and append it to df
            temp_df = pd.DataFrame({
                'Date': [date]*len(cleanedList), 
                'Brand': cleanedList, 
                'Source URL': [source_url]*len(cleanedList)
            })
            df_xiaomi_eol = df_xiaomi_eol.append(temp_df, ignore_index=True)


df_xiaomi_eol = df_xiaomi_eol.sort_values('Date')
df_xiaomi_eol.head()

,Date,Brand,Source URL
2741,2021-10-12,MI 8 Explorer Edition,https://web.archive.org/web/20211012105859/htt...
2779,2021-10-12,MI Note,https://web.archive.org/web/20211012105859/htt...
2780,2021-10-12,Redmi 6,https://web.archive.org/web/20211012105859/htt...
2781,2021-10-12,MI 5X,https://web.archive.org/web/20211012105859/htt...
2782,2021-10-12,MI 4,https://web.archive.org/web/20211012105859/htt...

In [10]:
# Assuming you already have df_timelines_oppo defined somewhere above

# Convert the string columns to datetime format
df_timelines_xiaomi['monthly_end'] = pd.to_datetime(df_timelines_xiaomi['monthly_end'])
df_timelines_xiaomi['quarterly_end'] = pd.to_datetime(df_timelines_xiaomi['quarterly_end'])
df_timelines_xiaomi['biannually_end'] = pd.to_datetime(df_timelines_xiaomi['biannually_end'])

# Get the maximum date from the three columns
max_date = df_timelines_xiaomi[['monthly_end', 'quarterly_end', 'biannually_end']].max().max()

# Filter the rows where the date in any of the three columns matches the max_date
matching_rows = df_timelines_xiaomi[
    (df_timelines_xiaomi['monthly_end'] == max_date) |
    (df_timelines_xiaomi['quarterly_end'] == max_date) |
    (df_timelines_xiaomi['biannually_end'] == max_date)
]

print('Unique devices (last support list): {}'.format(len(matching_rows)))

Unique devices (last support list): 52

In [11]:
print('Unique devices (all support lists): {}'.format(len(df_timelines_xiaomi['phone'].unique())))

Unique devices (all support lists): 52

In [12]:
latest_date = df_xiaomi_eol['Date'].max()
rows_matching_latest_date = df_xiaomi_eol[df_xiaomi_eol['Date'] == latest_date]

print('Unique devices (last EOL list): {}'.format(len(rows_matching_latest_date)))

Unique devices (last EOL list): 58

In [13]:
print('Unique devices (all EOL lists): {}'.format(len(df_xiaomi_eol['Brand'].unique())))

Unique devices (all EOL lists): 95

In [14]:
appearance_df = pd.DataFrame({
    'First Appearance': df_xiaomi_eol.groupby('Brand')['Date'].min(),
    'Last Appearance': df_xiaomi_eol.groupby('Brand')['Date'].max()
})

# Sort appearance_df by 'First Appearance'
appearance_df = appearance_df.sort_values('First Appearance')

appearance_df.head()

        First Appearance Last Appearance
Brand
MI 1          2021-10-12      2022-08-24
MIX 2         2021-10-12      2023-03-06
MIX 2S        2021-10-12      2023-03-06
MIX 3         2021-10-12      2023-03-06
Redmi 1       2021-10-12      2023-03-06

# 3. Oppo

In [15]:
def excel_to_dataframe(excel_path):
    df1 = pd.read_excel(excel_path, sheet_name = 'monthly', usecols = 'A', names=['phone_model'],header=None)
    df1['support'] = 'monthly'
    df1['date'] = datetime.strptime(os.path.splitext(os.path.basename(excel_path))[0],'%Y%m%d%H%M%S')

    df2 = pd.read_excel(excel_path, sheet_name = 'quarterly', usecols = 'A', names=['phone_model'],header=None)
    df2['support'] = 'quarterly'
    df2['date'] = datetime.strptime(os.path.splitext(os.path.basename(excel_path))[0],'%Y%m%d%H%M%S')
    
    df3 = pd.read_excel(excel_path, sheet_name = 'others', usecols = 'A', names=['phone_model'],header=None)
    df3['support'] = 'others'
    df3['date'] = datetime.strptime(os.path.splitext(os.path.basename(excel_path))[0],'%Y%m%d%H%M%S')

    df = pd.concat([df1,df2,df3])
    return df


def get_support_timeline(phone,dataset):

    df = dataset
    
    #print('Getting support timeline for {}!'.format(phone))
    
    df_phone = df[df.phone_model == phone].sort_values(by='date')
    
    try:
        monthly_start = df_phone[df_phone.support == 'monthly'].iloc[0]['date']
        monthly_end = df_phone[df_phone.support == 'monthly'].iloc[-1]['date']
    except IndexError:
        monthly_start = None
        monthly_end = None
        
    try: 
        quarterly_start = df_phone[df_phone.support == 'quarterly'].iloc[0]['date']
        quarterly_end = df_phone[df_phone.support == 'quarterly'].iloc[-1]['date']
    except IndexError:
        quarterly_start = None
        quarterly_end = None
        
    try: 
        others_start = df_phone[df_phone.support == 'others'].iloc[0]['date']
        others_end = df_phone[df_phone.support == 'others'].iloc[-1]['date']
    except IndexError:
        others_start = None
        others_end = None
        

    result = [monthly_start,monthly_end,quarterly_start,quarterly_end,others_start,others_end]
    
    return result

dir_path = '../Data/Oppo/oppo-support-lists/'

print('Getting lists from {}'.format(dir_path))

excel_files = glob.glob(dir_path + '*.xlsx')
df_final_oppo = pd.DataFrame([])
for file in excel_files[:]:
    df_new = excel_to_dataframe(file)
    df_final_oppo = pd.concat([df_final_oppo,df_new],ignore_index=True)

print('Converting excel files to DataFrame is done!')

df_timelines_oppo = pd.DataFrame([])
for phone in df_final_oppo['phone_model'].unique():
    
    support_timeline = get_support_timeline(phone,df_final_oppo)
    
    df_new = pd.DataFrame({"phone": phone, 
                           "monthly_start": support_timeline[0],
                           "monthly_end": support_timeline[1],
                           "quarterly_start": support_timeline[2],
                           "quarterly_end": support_timeline[3],
                           "others_start": support_timeline[4],
                           "others_end": support_timeline[5]},
                          index=[0])
 
    
    df_timelines_oppo = pd.concat([df_timelines_oppo,df_new],ignore_index=True)
    

# split the column values into two columns
df_timelines_oppo[['model_name', 'model_number']] = df_timelines_oppo['phone'].str.split('', expand=True)
df_timelines_oppo['model_number'] = df_timelines_oppo['model_number'].str.replace('', '')
df_timelines_oppo['model_name_v2'] = df_timelines_oppo['model_name'].str.split('(', expand=True)[0]

df_timelines_oppo['monthly_duration'] = (df_timelines_oppo['monthly_end']-df_timelines_oppo['monthly_start']).dt.days
df_timelines_oppo['quarterly_duration'] = (df_timelines_oppo['quarterly_end']-df_timelines_oppo['quarterly_start']).dt.days

df_timelines_oppo.to_csv('../Data/Oppo/timelines_Oppo.csv',index=False,encoding="utf-8")

df_timelines_oppo.head()

Getting lists from ../Data/Oppo/oppo-support-lists/
Converting excel files to DataFrame is done!

,phone,monthly_start,monthly_end,quarterly_start,quarterly_end,others_start,others_end,model_name,model_number,model_name_v2,monthly_duration,quarterly_duration
0,Find X2CPH2023CPH1921,2022-10-11 18:51:30,2023-03-07 19:24:15,NaT,NaT,NaT,NaT,Find X2,CPH2023CPH1921,Find X2,147.0,NaN
1,Find X2 ProCPH2025,2022-10-11 18:51:30,2023-03-07 19:24:15,NaT,NaT,NaT,NaT,Find X2 Pro,CPH2025,Find X2 Pro,147.0,NaN
2,Find X3PEDM00,2022-10-11 18:51:30,2023-03-07 19:24:15,NaT,NaT,2021-01-21 17:16:59,2022-06-09 07:23:31,Find X3,PEDM00,Find X3,147.0,NaN
3,Find X3 NeoCPH2207,2022-10-11 18:51:30,2023-03-07 19:24:15,NaT,NaT,2021-01-21 17:16:59,2022-06-09 07:23:31,Find X3 Neo,CPH2207,Find X3 Neo,147.0,NaN
4,Find X3 ProPEEM00CPH2173CPH2305,2022-10-11 18:51:30,2023-03-07 19:24:15,NaT,NaT,None,None,Find X3 Pro,PEEM00CPH2173CPH2305,Find X3 Pro,147.0,NaN

In [16]:
print('Unique Devices (all support lists): {}'.format(len(df_timelines_oppo['model_name_v2'].unique())))

Unique Devices (all support lists): 208

In [17]:
# Convert the string columns to datetime format
df_timelines_oppo['monthly_end'] = pd.to_datetime(df_timelines_oppo['monthly_end'])
df_timelines_oppo['quarterly_end'] = pd.to_datetime(df_timelines_oppo['quarterly_end'])
df_timelines_oppo['others_end'] = pd.to_datetime(df_timelines_oppo['others_end'])

# Get the maximum date from the three columns
max_date = df_timelines_oppo[['monthly_end', 'quarterly_end', 'others_end']].max().max()

# Filter the rows where the date in any of the three columns matches the max_date
matching_rows = df_timelines_oppo[
    (df_timelines_oppo['monthly_end'] == max_date) |
    (df_timelines_oppo['quarterly_end'] == max_date) |
    (df_timelines_oppo['others_end'] == max_date)
]

print('Unique Devices (last support list): {}'.format(len(matching_rows['model_name_v2'].unique())))

Unique Devices (last support list): 147

# 4. Google

In [18]:
df_timeline_google = pd.read_excel('../Data/Google/Google-support-list.xlsx')

df_timeline_google.head()

,Phone,Guaranteed Android version updates until at least:,Guaranteed security updates until at least:,Unnamed: 3,Unnamed: 4
0,Pixel 7 & Pixel 7 Pro,2025-10-01,2027-10-01,NaN,NaN
1,Pixel 6 & Pixel 6 Pro,2024-10-01,2026-10-01,NaN,*Nexus devices get security updates for at lea...
2,Pixel 6a,2025-07-01,2027-07-01,NaN,NaN
3,Pixel 5a with 5G,2024-08-01,2024-08-01,NaN,NaN
4,Pixel 5,2023-10-01,2023-10-01,NaN,*Pixel phones get security updates for at leas...

In [19]:
df_timeline_pixel = df_timeline_google[df_timeline_google['Phone'].str.contains('Pixel')]
df_timeline_nexus = df_timeline_google[df_timeline_google['Phone'].str.contains('Nexus')]

print('Unique Pixel devices: {}'.format(len(df_timeline_pixel['Phone'].unique())))
print('Unique Nexus devices: {}'.format(len(df_timeline_nexus['Phone'].unique())))

Unique Pixel devices: 16
Unique Nexus devices: 9

In [20]:
#Devices support as of submission
df_timeline_pixel_supported = df_timeline_pixel[df_timeline_pixel['Guaranteed security updates until at least:']>'2023-06-28']

print('Supported Pixel devices as of submission: {}'.format(len(df_timeline_pixel_supported)))

Supported Pixel devices as of submission: 7